export OP_SIGNER_LOG_LEVEL=debug
export OP_SIGNER_LOG_COLOR=true
export OP_SIGNER_RPC_PORT=8080
export OP_SIGNER_METRICS_ENABLED=true

# Support overriding values with a local only envrc file
if [ -f ".envrc.local" ]; then
    source ".envrc.local"
fi
