version: 2.1

orbs:
  go: circleci/go@1.9.0
  gcp-cli: circleci/gcp-cli@2.4.1
  shellcheck: circleci/shellcheck@3.1.2
  path-filtering: circleci/path-filtering@0.1.1

parameters:
  run-build-op-conductor-mon:
    type: boolean
    default: false
  run-build-op-ufm:
    type: boolean
    default: false
  run-build-proxyd:
    type: boolean
    default: false
  run-all:
    type: boolean
    default: false

workflows:
  op-conductor-mon:
    when:
      or: [<< pipeline.parameters.run-build-op-conductor-mon >>, << pipeline.parameters.run-all >>]
    jobs:
      - go-lint:
          name: op-conductor-mon-lint
          module: op-conductor-mon
      - go-test:
          name: op-conductor-mon-tests
          module: op-conductor-mon
      - docker-build:
          name: op-conductor-mon-docker-build
          docker_file: op-conductor-mon/Dockerfile
          docker_name: op-conductor-mon
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          docker_context: .
  op-ufm:
    when:
      or: [<< pipeline.parameters.run-build-op-ufm >>, << pipeline.parameters.run-all >>]
    jobs:
      - go-lint:
          name: op-ufm-lint
          module: op-ufm
      - go-test:
          name: op-ufm-tests
          module: op-ufm
      - docker-build:
          name: op-ufm-docker-build
          docker_file: op-ufm/Dockerfile
          docker_name: op-ufm
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          docker_context: .
  op-proxyd:
    when:
      or: [<< pipeline.parameters.run-build-proxyd >>, << pipeline.parameters.run-all >>]
    jobs:
      - go-lint:
          name: proxyd-lint
          module: proxyd
      - go-test:
          name: proxyd-tests
          module: proxyd
      - docker-build:
          name: proxyd-docker-build
          docker_file: proxyd/Dockerfile
          docker_name: proxyd
          docker_tags: <<pipeline.git.revision>>,<<pipeline.git.branch>>
          docker_context: .
