version: '3.8'

services:
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./metrics/testdata/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./metrics/testdata/prometheus-data:/prometheus
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana-enterprise
    ports:
      - "3000:3000"
    container_name: grafana
    depends_on:
      - prometheus
    networks:
      - monitoring
    volumes:
      - ./metrics/testdata/grafana-data:/var/lib/grafana

  op-nat:
    container_name: op-nat
    ports:
      - "7300:7300"
    build:
      context: ..
      dockerfile: op-nat/Dockerfile
    volumes:
      - ./devnets:/devnets
    command: ["--gate", "localnet", "--manifest", "/devnets/simple-devnet.json", "--testdir", "../../optimism", "--validators", "example-validators.yaml", "--log.level", "debug"]
    depends_on:
      - prometheus
      - grafana
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  monitoring:
    driver: bridge

volumes:
  grafana-data:
    driver: local 