name: branch build
# Test fork PR flow - this comment can be removed

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  local:
    # only build if the push is to a local branch, or if the PR is to main from a local branch
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    uses: ethereum-optimism/factory/.github/workflows/docker-build.yaml@ae4dada9bf0951124892dbc6b63cebef44d35f91
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - cci-stats
          - op-acceptor
          - op-conductor-mon
          - op-conductor-ops
          - op-signer
          - op-txproxy
          - op-ufm
          - peer-mgmt-service
          - proxyd
          - replica-healthcheck
    with:
      image_name: ${{ matrix.image_name }}
      context: .
      dockerfile: ${{ matrix.image_name }}/Dockerfile
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      registry: us-docker.pkg.dev/oplabs-tools-artifacts/oss
    permissions:
      contents: read
      id-token: write
      attestations: write

  fork:
    # only build if the PR is from a fork
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
    uses: ethereum-optimism/factory/.github/workflows/docker-build.yaml@ae4dada9bf0951124892dbc6b63cebef44d35f91
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - cci-stats
          - op-acceptor
          - op-conductor-mon
          - op-conductor-ops
          - op-signer
          - op-txproxy
          - op-ufm
          - peer-mgmt-service
          - proxyd
          - replica-healthcheck
    with:
      image_name: ${{ matrix.image_name }}
      context: .
      dockerfile: ${{ matrix.image_name }}/Dockerfile
      registry: ttl.sh/${{ github.sha }}
    permissions:
      contents: read
    