name: proxyd

on:
  push:
    paths:
      - 'proxyd/**'
      - '.circleci/**'
      - '.github/**'
  pull_request:
    paths:
      - 'proxyd/**'
      - '.circleci/**'
      - '.github/**'

jobs:
  build:
    uses: ethereum-optimism/factory/.github/workflows/docker-build.yaml@8a71ef009f8cc2b5284da3ed7642e1fffb59b01e
    with:
      image_name: proxyd
      context: .
      dockerfile: proxyd/Dockerfile
      platforms: linux/amd64
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      gcp_registry: us-docker.pkg.dev/oplabs-tools-artifacts/oss
    permissions:
      contents: read
      id-token: write
      attestations: write

