name: tag build

on:
  push:
    tags:
      - '*/v*' # Match tags like proxyd/v1.2.3

jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.parse-tag.outputs.image_name }}
      version: ${{ steps.parse-tag.outputs.version }}
    steps:
      - uses: ethereum-optimism/factory/actions/parse-tag@f8f3cb4800e538003134fb5f50cc734c2c98d762
        id: parse-tag
  tag:
    needs: prep
    uses: ethereum-optimism/factory/.github/workflows/docker.yaml@f8f3cb4800e538003134fb5f50cc734c2c98d762
    with:
      image_name: ${{ needs.prep.outputs.image_name }}
      context: .
      dockerfile: ${{ needs.prep.outputs.image_name }}/Dockerfile
      tag: ${{ needs.prep.outputs.version }}
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      registry: us-docker.pkg.dev/oplabs-tools-artifacts/images
    permissions:
      contents: read
      id-token: write
      attestations: write